@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>EditBlog</h1>
<br />
@using (Html.BeginForm("EditBlog", "Blog", FormMethod.Post))
{
  
    @Html.HiddenFor(x => x.BlogID, new { @class = "form-control readonly" })
    @Html.HiddenFor(x => x.BlogID)
    @Html.HiddenFor(x => x.BlogStatus)
    @Html.HiddenFor(x => x.WriterID)
    @Html.HiddenFor(x => x.BlogCreateDate)
    <br />
    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BlogTitle, "", new { @style = "color:red" })
    <br />
    @Html.Label("Blog Thumbnail URL")
    @Html.TextBoxFor(x => x.BlogThumbnailImage, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Görsel")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control" })
    <br />
    @Html.Label("Blog İçeriği")
      <span id="feedback" style="color:red;"></span>
    @Html.TextAreaFor(x => x.BlogContent, 5, 10, new { @class = "form-control",@id= "textarea" })
    @Html.ValidationMessageFor(x => x.BlogContent, "", new { @style = "color:red" })
    <br />
    <br />

    <button class="btn btn-outline-info">Güncelle</button>


}

<script type="text/javascript">
    $(document).ready(function () {
        var count = 0;
        $('#feedback').html(count + " " + 'Karakter girdiniz');

        $('#textarea').keyup(function () {
            var text_length = $('#textarea').val().length;
            var text_count = count + text_length;

            $('#feedback').html(text_count + ' Karakter girdiniz');
        });
    });
</script>

