
<div class="row">
    <div class="col-lg-3">
        <div class="widget style1">
            <div class="row">
                <div class="col-4 text-center">
                    <i class="fa fa-trophy fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Toplam BLog Sayısı </span>
                    <h2 class="font-bold">@ViewBag.BlogCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-4">

                    @if (ViewBag.WeatherStatus == "parçalı bulutlu")
                    {
                        <img src="~/admin/img/sunbehind.ico" width="64" height="64" />
                    }
                    else if (ViewBag.WeatherStatus == "kapalı")
                    {
                        <img src="~/admin/img/cloud.ico" width="64" height="64" />
                       
                    }
                    else if (ViewBag.WeatherStatus == "az bulutlu")
                    {
                        <img src="~/admin/img/sunbehind.ico" width="64" height="64" />
                    }
                    else if (ViewBag.WeatherStatus == "parçalı az bulutlu")
                    {
                        <img src="~/admin/img/sunbehind.ico" width="64" height="64" />
                    }
                    else if (ViewBag.WeatherStatus == "açık")
                    {
                        <img src="~/admin/img/sun.ico" width="64" height="64" />
                    }
                    else if (ViewBag.WeatherStatus == "karlı")
                    {
                        <img src="~/admin/img/snow.ico" width="64" height="64" />
                    }
                    else if (ViewBag.WeatherStatus == "hafif yağmur")
                    {
                        <img src="~/admin/img/rain.ico" width="64" height="64" />
                    }

                    @*<i class="bi bi-cloud-rain"></i>*@
                </div>
                <div class="col-8 text-right">
                    <span> Yalova'da Hava' </span>
                    <h2 class="font-bold">@ViewBag.Weather</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-envelope-o fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Gelen Mesajlar </span>
                    <h2 class="font-bold">@ViewBag.ContactCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-comment fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Toplam Yorum Sayısı </span>
                    <h2 class="font-bold"> @ViewBag.CommentCount</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">$ 1,540</h1>

                <h3 class="font-bold no-margins">
                    Annual income
                </h3>
                <small>Income form project Alpha.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Son BLog</h1>

                <h2 class="font-bold no-margins">
                    @ViewBag.LastBLog
                </h2>
              
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">$ 50,992</h1>

                <h3 class="font-bold no-margins">
                    Half-year revenue margin
                </h3>
               <small>dddddddddddddd</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>