@model EntityLayer.Concrete.Message2
@{ ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/WriterLayout.cshtml"; }
@Html.HiddenFor(x => x.MessageID)
@Html.Label("Gönderen : ")
<br />
@Html.TextBoxFor(x => x.ReceiverID,  new { @class = "form-control readonly"  })
<br />
@Html.Label("Konu :")
@Html.TextBoxFor(x => x.Subject, new { @class = "form-control", @readonly = "true" })
<br />
@Html.Label("Mesaj :")
@Html.TextAreaFor(x => x.MessageDetails, 15, 3, new { @class = "form-control", @readonly = "true" })
<br />
@Html.Label("Gönderilme Tarihi :")
@Html.TextBoxFor(x => x.MessageDate, new { @class = "form-control", @readonly = "true" })
<br />
<a href="/Message/Inbox" class="btn btn-inverse-primary">Mesajlara Dön</a>


